<% provide(:title, 'Contact') %>

<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
  <body>
	<h1 class="ui header">Contact</h1>
	<p> This is the contact page for rails</p>
 </body>
</html>