<div class="ui inverted menu">

				<%= link_to "Home",    root_path, :class => "active item " %> 		  	
	             <%= link_to "Help",    help_path, :class => "item" %>
	             <%= link_to "Sign in", '#', :class => "item" %>
</div>
